
<%= form_tag(users_path, :method => :get) do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search' %>
  </p>
<% end %>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.phone %></td>
                <td><%= link_to 'Edit', "/users/#{user.id}/edit" %></td>
                <td><%= link_to 'Delete', "/users/#{user.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Add a new user!', users_new_path, class: 'btn-click-here' %>
